{% extends "layout.html" %}{% block content %}

<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <h1 class="govuk-heading-xl">Disclaimer</h1>

    <p class="govuk-body-s">
      This service is provided as is without any guarantees or warranty. No
      warranties of any kind, either express or implied, including but not
      limited to warranties of merchantability, fitness for a particular
      purpose, of title, or of noninfringement of third party rights.
    </p>
    <p class="govuk-body-s">
      HE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
      THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
      FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
      DEALINGS IN THE SOFTWARE.
    </p>
  </div>
</div>

{% endblock %}
